.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

nav {
  background-color: #282c34;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  margin-bottom: 150px;
  background-color: #282c34;
  color: white;
}

.nav-links-list {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 50%;
  list-style: none;
}

.nav-links {
  color: white;
}

.nav-links:hover {
  color: grey;
}

.card {
  border: 10px solid black;
  padding: 30px;
  margin: 20px auto;
  width: 30%;
}

.card:hover .card-answer {
  visibility: visible;
}

.card-answer {
  visibility: hidden;
  color: green;
}

.card:hover .card-delete {
  visibility: visible;
}


.card-delete {
  visibility: hidden;
  float: right;
  position: absolute;
  margin-left: 500px;
}

.deck-delete {
  float: right;
  position: absolute;
  margin-left: 400px;
}

.card-delete:hover {
  color: red;
}

.deck-delete:hover {
  color: red;
}

.deck-links {
  color: green;
  border: 5px solid black;
  width: 20%;
  padding: 20px;
  margin: 50px auto;
}

.deck-amount {
  color: black;
}
