.App {
  text-align: center;
}

.triangle {
  position: absolute;
  top: 0;
  left: 0;
  border-width: 5em 7em;
  border-style: solid;
  border-left-color: #89abe3ff;
  border-top-color: #89abe3ff;
  border-right-color: transparent;
  border-bottom-color: transparent;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  margin-bottom: 150px;
  color: black;
}

.nav-links-list {
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 50%;
  list-style: none;
}

.logo {
  position: absolute;
  top: 1em;
  left: 0.7em;
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
  width: 10%;
  color: #fcf6f5ff;
}

.nav-links {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  font-family: 'Patrick Hand', sans-serif;
}

.nav-links:hover {
  color: grey;
}

.card {
  border: 10px solid black;
  padding: 30px;
  margin: 20px auto;
  width: 30%;
}

.card:hover .card-answer {
  visibility: visible;
}

.card-answer {
  visibility: hidden;
  color: green;
}

.card:hover .delete-button {
  visibility: visible;
}

.delete-button {
  visibility: hidden;
  float: right;
  position: absolute;
  margin-left: 500px;
}

.delete-button:hover {
  color: red;
}

.deck-links {
  color: green;
  border: 5px solid black;
  width: 20%;
  padding: 20px;
  margin: 50px auto;
}

.deck-amount {
  color: black;
}
